In [4]:
import psycopg2

conn = psycopg2.connect(database="postgres",
                        host="localhost",
                        user="postgres",
                        password="Mastan12*",
                        port="5432")

In [34]:
cursor=conn.cursor()


cursor.execute('select *from scl')

In [35]:
print(cursor.fetchall())

[('ram', 1)]

In [39]:
cursor.execute("INSERT INTO scl(name,id) vALUES(%s,%i)",['sonu',1])

ValueError: unsupported format character 'i' (0x69) at index 36

In [31]:
cursor.execute('create table emp(id int,name varchar(20))')

DuplicateTable: relation "emp" already exists

In [32]:
conn.rollback()